doctype html
html
  head
    title Test shield
    script(type='text/javascript').
      var __uzdbm_a = "#{pid}";
    #ss_098786_234239_238479_190541
    script(src="https://cdn.perfdrive.com/static/jscallv2_min.js", async='true')
  body
    #container
      #header
        h1 Shield Test Page
      #content
        h1 YOUR CODE GOES HERE
      #footer
